/*general styles*/
html, body {
    box-sizing: border-box;
    margin:0; padding: 0;
    scroll-behavior: smooth;
}
section{
    padding: 2.5%;   
    
}
h1 {
    /*font-family: 'Ranchers', cursive;*/
    letter-spacing: 10px;
    font-size: 2em;
    text-transform: uppercase;
}
h2, p, a {
    font-family: 'Nunito Sans', sans-serif;    
}
 h2 {
    background-color: rgba(255,255,255,0.5);    
    text-align: center;
    padding: 1%;
    border-radius: 5px;
 }
p {
    line-height: 25px;
}
.work p {
    font-family: 'Reggae One', cursive;
    font-size: 1.2em;
}
/*header and nav styles*/
header {
    display: flex;
    justify-content: space-between;
    align-content: center;    
    
}
header h1 {    
    padding: 0 5%;    
    font-family:  'Reggae One', cursive;
}
nav ul {
    width:500px;
    /*border: 2px solid tomato;      */
    margin-top: 5%;
}
nav ul li {
    display: inline;  
    padding: 0 5%;
}
nav ul li a {
    color: tomato;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s linear;
}
nav ul li a:hover {
    color: gold
}
@media only screen and (max-width: 800px)  {    
    header {
        justify-content: left;
        
    }
    nav ul {
        width: 100%;          
    }
    header h1 {
        display: none;        
    }
    nav ul li {        
        padding: 0 1%;
        font-size: .9em;
    }
}

/*progress bar on scroll*/
.progbarContainer {
    position: fixed;
    top:0;
    width:100%; height:5px; z-index: 99999;
}
.progBar {
    width:100%; background-color: white; height:5px;
    position: relative;
}
.currentPos {
    width:0%; background-color: tomato; height: 5px;
    position: absolute;
    transition: width 0.4s ease-in-out;
}

/*about section  styles*/
#about {
    display: flex;
    justify-content: space-between;
    background-color: rgb(183, 66, 50);
    color: white;
    background:-webkit-linear-gradient(left, rgba(183, 66, 50, 0.75) 0%, rgba(183, 66, 50, 0.8) 15%, rgba(183, 66, 50, 0.87) 30%, rgba(183, 66, 50, 0.92) 50%, rgba(183, 66, 50, 0.93) 100%);    
}

.imgAbout {
    width:20%; 
    border-radius: 15px;
}
#about div {
    width: 75%;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    #about {
        flex-wrap: wrap;
    }
    .imgAbout {
        width: 80%;
        margin: 0 auto;
    }
    #about div {
        width: 100%;
        padding: 2%
    }
}




/*projects section styles*/
#projects {
    text-align: center;    
}
#projects h2 {    
    color: black;
    
}
.workContainer {    
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 5%;    
    height:600px;  
}
.work {     
    position: relative;    
    /*border: 1px solid tomato;       */
    height: 1.2em;
    cursor: pointer;    
}
.imgWork {
    width: 100%;
    height: 0;    
    /*300px*/
    transition: height 0.4s linear 0.2s;
}
.work p {
    position: absolute;
    z-index: 99;
    top:0; left: 0;
    width:100%;
    background-color: tomato;    
    padding:5% 0;
    margin: 0;
    transition: top 0.4s linear ;
}
@media only screen and (max-width: 800px) {
    .workContainer {    
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-gap: 1%;    
        height:1200px;  
    }
}



/*section skills styles*/
#skills {
    background-color: tomato;
    color: white;
    height: 700px;    
}
.skillsContainer {
    display: flex;
    justify-content: space-around;    
    border: 2px ridge white;
    padding:2%;
}
i {
    font-size: 3em;
    cursor: pointer;
    transition: color 0.3s linear;
}
@media only screen and (max-width: 800px) {
    i {
        font-size: 1.5em;
    }
    #skills {
        height: 500px;
    }
}
i:hover, .iActive {
    color: black;      
}
.skillDescription {
    margin: 4% 25%;
    height:180px;    
    width: 50%;
    
    position: relative;
}
#pDescription {
    opacity: 0;
    text-align: center;
    padding: 10%;
    position: absolute;
    transition: all 0.5s ease-in;
    background-color: coral;    
    line-height: 2em;
}
.innerI:hover {color: white;}
@media only screen and (max-width: 800px) {
    .skillDescription {
        margin: 5% auto;
        height: 200px;
        width: 100%;        
    }
}


footer {
    margin: 0;    
    background-color: rgb(71, 126, 128);
    background-color: rgba(255,255,255,0.5);  
    border: 1px solid white;    
    text-align: center;
    height:160px;
    padding: 5%;
}
footer p {
    font-size: 1.5em;    
    font-weight: bold;
}
.spanFooter {
    color: tomato
}











/*contact page styles*/
.contactFooter {
    background-image: url("./img/desktop.jpeg");
    background-size: cover;
    
    background-repeat: no-repeat;
}
.hContact {
    background-color: white;    
    text-align: center;
    padding: 0;
    border-radius: 0;
 }
 .pContact {
     margin-left: 5%;
 }
form * {
    display: block;    
}
form {
    padding: 2%;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    width:80%;
    margin: 0 auto;    
    box-shadow: 0px 0px 20px white;
}
label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:'Reggae One', cursive;
}
input, textarea {        
    padding:1%;
    margin: 1% 0;
}
textarea {
    width: 80%;     
}
input {
    width: 50%; 
}
input[type="submit"] {
    background-color: white;
    float: right;
    color: tomato;
    width:30%;
    padding:10px;
    font-weight: bold;
    border-radius: 5px;    
    font-family: 'Reggae One', cursive;
    cursor: pointer;
    transition: 0.3s all linear;
}
input[type="submit"]:hover {
    background-color: tomato; color: white;
}
.clear {
    clear: right;
}
.socialContainer {
    display: flex;
    justify-content: space-around;    
    padding:5%;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9)
}
.socialContainer h3 {
    color: black;
    font-family: "Nunito Sans", sans serif;        
}
.socialContainer i {
    color: black;
}
.socialContainer i:hover {
    color: gold
}
@media only screen and (max-width: 800px) {
    .socialContainer {
        align-items: center;
    }
}